html {
	font-size: 62.5%;
}

body {
	font-family: HelveticaNeue, Helvetica, sans-serif;
	font-size: 1.4rem;
}

img {
	width: 18rem;
	min-height: 9rem;
	text-align: center;
	display: block;
	background-color: #F1F1F1;
}

button {
	font-size: inherit;
	padding: .4rem 1.6rem;
	border: none;
	background-color: #EFC849;
	width: 100%;
	margin-top: .8rem;
	font-weight: 500;
	transition: background-color .2s ease-in;
	cursor: pointer;
	outline: none;
}

button:not([disabled]):hover {
	background-color: #D7B441;
}

button:not([disabled]):active {
	background-color: #BFA03A;
}

button[disabled] {
	opacity: .5;
}

#screenshot-error {
	display: none;
	color: #EF7549;
	font-weight: 500;
	margin-top: .8rem;
}
